/*

    Nevo Custom Styles
    ------------------
    Please use this stylesheet to make any changes to styles,
    so you can keep the changes when an update is available.

*/
html {
    scroll-behavior: smooth;
}

.text-sm {
    font-size: 0.7rem;
}

.list-item {
    font-size: 0.8rem;
}
@media screen and (max-width: 850px) {
    .list-item {
        font-size: 1.2rem;
    }
}